.vscode
*.aux
*.fls
*.lof
*.lot
*.log
thuthesis-example.pdf
*.toc
*.xdv
*.synctex.gz
*.bbl
*.blg
*.fdb_latexmk
*.out
build
.DS_Store
*.ntn
*.ist
*.glo
*.acn
*.glsdefs
*.glg
*.acr
*.alg
*.nlg
*.gls
*.not
